@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

.mt-80 {
  margin-top: 80px;
}
.icon {
  display: flex;
  align-items: center;
  margin-left: -38px;
  color: #031a40;
  font-weight: 300;
}

.bg-unguu {
  background-color: #031a40;
}

.bg-ungu {
  background-color: #031a40;
  /* height: 100vh; */
  height: calc(100vh - 100px);
  position: relative;
}
.bg-ungu img {
  /* height: 100vh; */
  height: calc(100vh - 100px);
  object-fit: contain;
}
.info a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

.slider {
  height: 100vh;
}
.slider img {
  /* height: 100%;
  width: 100%; */
  object-fit: cover;
}

.box {
  border: 3px solid #fff;
  width: 932px;
  height: 400px;
  position: absolute;
  left: 220px;
  top: 209px;
  /* background-color: linear-gradient(
    0deg,
    rgba(3, 26, 64, 0.9) 100%,
    rgba(3, 26, 64, 0.9) 100%
  ); */

  /* background-color: #2b374f5c; */
  background-color: #11131294;
  /* background-color: #2b374f9c; */
  /* background-color: #2b374fe3; */

  /* background-color: rgba(245, 40, 145, 0.4);
*/
}
.tulisan h1 {
  color: #ffffff;
  font-size: 80px;
  line-height: 95px;
  font-weight: 700;
  text-align: center;
}

.btn-custom {
  font-weight: 700;
  border-radius: 0px;
}

.card-1 {
  width: 220px;
  /* height: 298px; */
  height: 40vh;
  border: none;
}
.card-1:hover {
  width: 220px;
  /* height: 298px; */
  height: 40vh;
  border: 2px solid #031a40;
  cursor: pointer;
  transition: ease-in;
  background-color: #031a40;
  color: #fff;
}
.card-1 img {
  object-fit: cover;
  height: 8em;
}

.limited {
  height: 100vh;
  /* background-color: bisque; */
}

.img {
  height: 100vh;
  width: 85%;
  overflow: hidden;
}

.promo {
  margin-top: 160px;
  height: 100vh;
}
.promo-barca {
  position: relative;
}

.box-promo-barca {
  /* border: 3px solid #fff; */
  width: 489px;
  height: 92px;
  position: absolute;
  left: 71px;
  top: 200px;
}

.promo-barca h1 {
  color: #ffffff;
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  text-align: center;
  margin-top: -7px;
}
.promo-liverpool {
  position: relative;
}

.box-promo-liverpool {
  /* border: 3px solid #fff; */
  width: 489px;
  height: 92px;
  position: absolute;
  right: 71px;
  top: 200px;
}

.promo-liverpool h1 {
  color: #ffffff;
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  text-align: center;
  margin-top: -27px;
}
.promo-liverpool p {
  color: #ffffff;
  font-size: 18px;
  line-height: 39px;
  font-weight: 700;
  text-align: center;

  margin-bottom: -3px;
}

.promo-inter {
  position: relative;
}

.box-promo-inter {
  /* border: 3px solid #fff; */
  width: 250px;
  height: 92px;
  position: absolute;
  left: 0px;
  top: 170px;
}

.promo-inter h1 {
  color: #ffffff;
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  text-align: left;
  margin-top: -7px;
}
.promo-arsenal {
  position: relative;
}

.box-promo-arsenal {
  /* border: 3px solid #fff; */
  width: 380px;
  height: 92px;
  position: absolute;
  left: 130px;
  top: 210px;
}

.promo-arsenal h1 {
  color: #ffffff;
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  text-align: center;
  margin-top: -7px;
}
.promo-city {
  position: relative;
}

.box-promo-city {
  /* border: 3px solid #fff; */
  width: 270px;
  height: 92px;
  position: absolute;
  left: 0px;
  top: 190px;
}

.promo-city h1 {
  color: #ffffff;
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  text-align: left;
  margin-top: -7px;
  margin-left: 50px;
}
.btn-promo {
  /* margin-bottom: 90px; */
  margin-bottom: 2px;
}
.promo img {
  height: 50vh;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

.top-sale {
  /* position: relative; */
}

.top-sale h3 {
  color: #ffffff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  position: relative;
  /* display: inline-block; */
}

.top-sale h3:before {
  content: " ";
  position: absolute;
  border-bottom: 8px solid white;
  width: 120%;
  left: -500px;
  top: 50%;
}
.top-sale h3:after {
  content: " ";
  position: absolute;
  border-bottom: 8px solid white;
  width: 110%;
  right: -75vh;
  top: 50%;
}

/* .splide ul {
  width: 100%;

  background-color: burlywood;
} */
.spli {
  width: 100%;
  height: 100vh;
  margin-top: 30px;

  /* background-color: gray; */
}

.card-discount {
  position: absolute;
  top: 0px;
  right: 0;
}
.card-discount button {
  font-size: 14px;
  font-weight: 600;
}

.card-2 {
  width: 220px;
  /* height: 298px; */
  height: 40vh;
  margin: auto;
  border: none;
  position: relative;
}
.card-2:hover {
  width: 220px;
  /* height: 298px; */
  height: 40vh;
  border: 2px solid #031a40;
  cursor: pointer;
  transition: ease-in;
  background-color: #031a40;
  color: #fff;
}
.card-2 img {
  object-fit: cover;
  height: 8em;
}

.swiper {
  width: 600px;
  height: 300px;
}

#sepatu {
  /* background-color: linear-gradient(270deg, #823384 0%, #031a40 95.07%); */
  /* background: rgb(109, 171, 164);
  background: linear-gradient(
    90deg,
    rgba(109, 171, 164, 1) 13%,
    rgba(112, 33, 148, 1) 45%,
    rgba(9, 9, 121, 1) 77%
  ); */
  background: linear-gradient(270deg, #823384 0%, #031a40 95.07%);
  position: relative;
}
.sepatu img {
  width: 825px;
  height: 450px;
  object-fit: cover;
  margin-bottom: 200px;
  overflow: hidden;
  padding-top: 30px;
  margin-right: -7px;
}

.sepatu {
  height: 493px;
}

.new-arrival {
  padding-left: 20px;
}
.new-arrival h1 {
  position: absolute;
  color: #ffffff;
  font-size: 80px;
  font-weight: 700;
  line-height: 120px;
  top: 87px;
  left: 70px;
}
.new-arrival p {
  position: absolute;
  color: rgb(181, 178, 178);
  opacity: 0, 8;
  font-size: 25px;
  font-weight: 500;
  /* line-height: 41px; */
  top: 209px;
  left: 70px;
}
.new-arrival .p2 {
  position: absolute;

  /* color: rgba (255, 255, 255, 0.6); */
  color: grey;

  font-size: 20px;
  font-weight: 400;
  /* line-height: 41px; */
  top: 261px;
  left: 70px;
}

.new-arrival button {
  position: absolute;

  top: 345px;
  left: 70px;
}

.p {
  color: rgb(181, 178, 178);
}

.d-custom p {
  font-size: 12px;
  display: inline-flex;
}

.d-custom .text-gray {
  color: gray;
  font-weight: 400;
}

.top-discount {
  height: 50vh;
}
.footer {
  height: 342px;
}
.mt-60 {
  margin-top: 40px;
}

.font-16 {
  font-size: 16px;
}

.font-12 {
  font-size: 12px;
}
.f-kiri img {
  height: 184px;
  width: 56px;
  margin-top: 40px;
  color: #ffffff;
}

.fb {
  margin-left: -9px;
}

.kitzone {
  margin-left: 44px;
}
.kitzone p {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(167, 166, 166, 0.6);
  margin: 28px 0px;
}
.kitzone img {
  margin-top: 40px;
  height: 44px;
  width: 250px;
}
.f-kiri p {
  color: rgba(167, 166, 166, 0.6);
  margin: 28px 0px;
}

.right-reserved p {
  font-size: 12px;
  color: rgba(167, 166, 166, 0.6);
  margin-top: 73px;
  margin-left: 70px;
}

.f {
  color: #ffffff;
}
.f h5 {
  font-size: 12px;
  font-weight: 500;
  color: rgba(167, 166, 166, 0.6);
  margin: 28px 0px;
}

.customer {
  /* margin-left: 20px; */
}
.icon-item {
  margin-right: 70px;
}
.icon-item img {
  height: 38px;
  width: 38px;
  background-color: #ffffff;
  border-radius: 30px;
  margin: 10px 15px;
}
